/*
INB 271 assignment 1

Author: Clearence Wissar
Student ID: n8898642


The Color palette that I used is composed of the following colours: 
	- #1C9091
	- #fff
 
*/



/* Reset CSS and transition effect settings */
/*The * will modify all the html elements, also the 
settings for transition effects were added in.*/
*{
    margin:0px;
    padding:0px;
	transition: all 1s;    
	transition-property: width, color, font-weight;
}

 


/*
Set the page elements body and html with basic attriutes, the layout 
with the width of 100% means that it will cover the viewport completely. 
*/
body, html {
background-color: white;
font-family:sans-serif; /* The type of font will be sans-serif by default.*/
height:100%; /*Needed for some elements to cover the whole height of the viewport */
width:100%;
}

a{
color:black;
font-weight:900;
text-decoration:none; /* This line gets rid of the annoying underline in the anchor tag*/
}

a img{
	border:0; /*This will delete the also annoying BORDER in IE */
}


 

#container{
	width:100%;
	/*Without the following line, on Iphone browsers, 
	the header would create an space before the image */
	overflow:hidden;
	}

header{
    display:block;
    height:150px;
    background-color:#494D4D;
	padding-top:50px;
	overflow:hidden;    
}

.logo-img{
	display:inline-block
	width:40px;
	height:40px;
	vertical-align:middle;
	margin-right:10px;
	}

#logo-text{

    font-family:sans-serif;
    margin-left:60px;
	color:#fff;
	font-size:28px;
	font-family: 'kaushan_scriptregular';
}

.small{
	font-size:14px;
}

nav{
	display:block;
	margin-top: 5%;
}

nav ul{
	display:inline-block;
	margin-left:60px;
}

nav ul li{
    display:inline;
    padding-right:15px;  
	font-family:"quicksandregular", Helvetica, Arial, sans-serif;    
	font-weight:100;

} 

nav ul li a {
    text-decoration:none;
    color:#fff;
}

.mainWrap{
    width:100%;
    min-height:600px;
	text-align:center;
    float:left;
	display:block;
}

#phrase{
	font-size:44px;
	color:#8C8C8C;
	font-family:'pacificoregular' , Helvetica, Arial, sans-serif;
	}


#mainContent{
	 	
	position: relative;
	margin: 0 auto;
	width: 100%;
	min-height: 800px;
	padding-top: 10px;
	
}

/*---------Styles for Sign-up page--------------*/

#sign-up{

	text-align:left;
	margin:0 auto;
	width:60%;
	min-height:400px;
	padding:1.5em;
	line-height:1.5em;
}
#sign-up label{
	display:inline-block;
	width:20%;
	margin-left:1.1em;
	vertical-align:top;
}

.missing{
	color:#CF557E;
	visibility:hidden;
        
}
#sign-up input[type='text'], #sign-up input[type='password'], #sign-up input[type='number'], #sign-up input[type='email'], #sign-up input[type='tel'], #sign-up textarea, #sign-up select {
	width: 40%;
	margin-bottom: 10px;
	border: 1px solid #C5CCCD;
	border-top-color: #737070;
	height: 26px;
	line-height: 26px;
	text-indent: 3px;
	background-color: #E7E7E7;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#create-btn{
	display:block;
	background-color:#90C95B;
	font-weight:700;	
	color:#272424;
	margin-left: 1.1em;
	height:3em;
	border-radius:5px;	
	}

/* -------end of Sign-up styles-----------------*/

/*---------Styles for Login page--------------*/

#login-panel{
	text-align:left;
	margin:0 auto;
	width:60%;
	min-height:400px;
	padding:1.5em;
	line-height:1.5em;
}

#login-panel label{
	display:inline-block;
	width:20%;
	margin-left:1.1em;
	vertical-align:top;
	height: 30px;
	font-weight: 700;
	color:#353541;
}

.error{
	color:#CF557E;
}

#login-panel input[type='text'], #login-panel input[type='password'] {
	width: 40%;
	border: 1px solid #C5CCCD;
	border-top-color: #737070;
	height: 26px;
	line-height: 26px;
	text-indent: 3px;
	background-color: #E7E7E7;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding:10px;
	font-size:18px;
	
}

#loginBtn{
	
	background-color:#90C95B;
	font-weight:700;	
	color:#272424;
	width:40%;
	font-size:16px;
	height:3em;
	border-radius:5px;	
	margin-top: 2em;
}

/* -------end of Sign-up styles-----------------*/








/*-------Results page styles-----------------*/
#results-section{

	text-align:left;
	margin:0 auto;
	width:60%;
	min-height:400px;
	padding:1.5em;
	line-height:1.5em;
}

table {
	width:60%;
	margin: 0 auto;
	}

table h3{
	color:#322A2B;
	}

tbody{
		border: 1px solid #9B9999;
		height:auto;
	}	
	
tbody:nth-of-type(odd) { 
	background: #E8FBEF; 
}

tbody:nth-of-type(even) { 
  background: #DAE9DB; 
}
#make-review-panel{
border: 2px solid #298670;
width:61%;
margin: 0 auto;
border-radius: 15px;
background-color: #298670;
}
#title-insertion{
font-family: 'kaushan_scriptregular',sans;
font-size:1.5em;
color:#fff;
}
#insert_review {
	width:60%;
	margin: 0 auto;
	}

#insert_review h3{
	color:#322A2B;
	}

#insert_review tbody{
		border: 1px solid #9B9999;
		height:auto;
	}	
	
#insert_review tbody:nth-of-type(odd) { 
	background: #ccc; 
}

#insert_review tbody:nth-of-type(even) { 
  background: #fff; 
}

#insert_review_btn{
	background-color:#298670;
	font-weight:700;	
	color:#fff;
	width:50%;
	max-width:140px;
	font-size:16px;
	height:3em;
	border-radius:5px;	
	margin-top: 2em;
}

.bold-col{
	font-weight:bold;
	vertical-align:top;
}

.results-map{
	width:90%;
	
}

td>a{
	margin: 0 auto;
	text-align:center;
	vertical-align:middle;
	display:block;
	width:40%;
	font-size:0.9em;
	font-weight:700;
	color:white;
	background-color:#F06366;
	height:30px;
	border:1px dashed #F7A9AA;
	}
/*-------END Results page styles-----------------*/

/*-------STYLES FOR INDIVIDUAL PAGE-------------*/

#the-table{
	border: 1px dashed #F39FA0;
	background-color:#D1F0DD;
	padding:1.1em;
	}
	
.tag{
	font-weight:700;
	padding-right:0.5em;
	}
#the-table div:nth-of-type(odd) { 
	background-color:#A3F1CA;
}
#geo-btn{
	display:block;
	width: 20%;
	height:3em;
	margin-top:10px;
	}

/*-------END STYLES FOR INDIVIDUAL PAGE-------------*/

#mainContent > h1{
	margin-top:300px;
	}

#search-cloud{
	padding:0.5em;
	display:block;
	width:45%;
	height:2em;
	margin: 0.8em auto;
	border:#8F8787 1px solid;
	position:relative;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
	-webkit-box-shadow: inset -2px 0px 6px -2px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:   inset -2px 0px 6px -2px rgba(50, 50, 50, 0.4);
	box-shadow: inset -2px 0px 6px -2px rgba(50, 50, 50, 0.4);
	
}

#search-cloud > a > span {
	padding-right:1.5em;

}

#search-cloud > a > span:hover {
	color: white;
	font-weight:100;
 
}
	
#top{
	display:inline-block;
}	
	
#left{
	display:inline-block;

}
	
#middle{
	display:inline-block;

}	
	
#right{
	display:inline-block;

}

#bottom{
	display:inline-block;

}


.hidden{
	display:none;
	}


#search-options-frame{

	padding: 50px;
	position: relative;
	width:70%;
	margin:0 auto;
	
}

.tall-section{
	height:100%;
	min-height:500px;
	padding-bottom:100px;
	}

.tall-section h1{
	padding-top:200px;
	
	}

#formInput {
	padding: 1.5em;
	width: 60%;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	-webkit-box-shadow: 2px 2px 5px #262525;
	-ms-box-shadow: 2px 2px 5px #262525;
	-moz-box-shadow: 2px 2px 5px #262525;
	box-shadow: 2px 2px 5px #262525;

}

/*Placeholder Styles*/
#formInput::-webkit-input-placeholder {
   color: #8F8F8F;
   font-size:16px;
}

#formInput:-moz-placeholder { /* Firefox 18- */
   color: #8F8F8F;
   font-size:16px;

}

#formInput ::-moz-placeholder {  /* Firefox 19+ */
   color: #8F8F8F;
   font-size:16px; 

}

#formInput :-ms-input-placeholder {  
   color: #8F8F8F;
   font-size:16px;  

}


#combo-box{
	padding: 1.5em;
	width: 64%;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	-webkit-box-shadow: 2px 2px 5px #262525;
	-ms-box-shadow: 2px 2px 5px #262525;
	-moz-box-shadow: 2px 2px 5px #262525;
	box-shadow: 2px 2px 5px #262525;
	}
	
#search-span-text{
	font-size:1.1em;
}	

.star{
	width:2em;
	height:2em;
}

.star:hover{
	width:30px;
	height:30px;
}

#formButton{
	-webkit-appearance: none;
	padding: 1.5em;
	display: inline-block;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 5px #3A3A3A;
	box-shadow: 2px 2px 5px #3A3A3A;
	margin-left: 5px;
}

.other-op-link{
	font-size:0.8em;
	color:#B84242;
	}

#map{
	height:400px;
  	margin: 0;
}
 
 
 footer{
    clear:both;
	background-color:#62b581;
  	width:100%;
    margin:0 auto;
    text-align:center;
	padding-top:50px;
}

.col{
	display:inline-block;
	min-height:200px;
 	border:1px dashed #12A831;
 	text-align:left;
	vertical-align:top;
	margin-left:20px;
}
	

.left{
	width:25%;
	padding:20px;
}

.left img {
	float:left;
}
	
.left p{
	text-align:justify;
	font-family: 'quicksandregular', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
 	font-weight:400;
	font-size:1em;
	line-height:1.4em;
}
	
	
.middle{
	width:30%;
	padding: 30px;
	line-height:1.5em;
	height:180px;
}
	
	
.right{
	width:25%;
	height:180px;
	padding:30px;
}

.right ul{	
	display:block;
	margin-top:10px;
	margin-left:15px;
}	

footer span ul li{
	list-style:none;
	margin-top:10px;
}	

footer span ul li a{
	color:#07573A;
}
 

#copyright{
	clear:both;
	margin: 0 auto;
	text-align:center;
}

#copyright p{
	font-size:9px;
	color:#D2EFE4;
}

 
	

/**********************************************/
/*				Media queries				  */


@media screen and (max-width: 960px) {
body {
	background-color: white;
}
 
 
#results-section{
	width:90%;
} 
table {
	width:100%;	
}

#search-cloud{
	width:70%;
	height:auto;
}

#search-cloud span{
	margin:0 auto;
	display:block;
	width:100%;
	background-color:#75C297;
	height:2.5em;
	margin-top:3px;
}

#search-cloud > a > span {
	padding-right:0;
}

.tall-section{
	padding-bottom:50%;
	height:100%;
}

.tall-section h1{
	padding-top:60%;

}


#geolocation-search img{
	margin-top:10px;
	width:15%;
	}
}

@media screen and (max-width: 730px) {
body {
	background-color: white;
}

#results-section{
	width:90%;
	font-size:0.8em;
	}
header{
	height:auto;
}
.nav-btn:before{
	background-image: url('../img/arrow.png');
    background-size: 15px;
	background-repeat:no-repeat;
	background-position: 60px 8px;
	content: "Menu";/*We can replace this with an image*/
	margin-left:60px;
	color:white;
	font-size:1.4em;
	font-weight:bold;
	display:block;	
	margin-bottom:20px;
}
#link-list{
	display:none;	
}

nav ul li{
	display:block;
	height:2em;
	margin: 0;
	width:50%;
	background: #259974;
	display: block;
	margin-bottom: 3px;
	padding-left: 15px;
}
/*With the following lines, we delete the <li> elements that contain "|" */
nav ul li:nth-child(even){
	display:none;
}



footer{
    clear:both;
	background-color:#62b581;
  	width:100%;
    margin:0 auto;
    text-align:center;
	padding-top:50px;
}

.col{
	display:block;
	min-height:200px;
 	border:1px dashed #12A831;
 	text-align:left;
	vertical-align:top;
	margin-left:60px;
}


.left{
	width:80%;
	padding:20px;
}

.left img {
	float:left;
}
	
.left p{
	text-align:justify;
	font-family: 'quicksandregular', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
 	font-weight:400;
	font-size:1em;
	line-height:1.4em;
}
	
	
.middle{
	width:80%;
	padding: 20px;
	line-height:1.5em;
	height:180px;
}
	
	
.right{
	width:80%;
	height:180px;
	padding:20px;
}

.right ul{	
	display:block;
	margin-top:10px;
	margin-left:15px;
}	


#map{
	display:none;
	}

} 

@media screen and (max-width: 550px) {
body html {
	background-color: white;
	width:100%;
}
#container{
	width:100%;
	}

header{
	width: 100%;
	}
nav .nav-btn:before{
	margin-left:60px;
	content:"Menu";
	
}
#mainContent{
	margin:0 auto;
	}
#mainContent > h1{
	margin-top:100px;
	}

#search-cloud{
	width:60%;
	height:auto;
	}
#search-cloud span{
	margin:0 auto;
	display:block;
	width:100%;
	background-color:#75C297;
	height:2.5em;
	margin-top:3px;
}

#search-cloud a span {
	text-align: center;
	vertical-align:middle;
	
	}

.col{
	display:block;
	min-height:200px;
 	border:1px dashed #12A831;
 	text-align:left;
	vertical-align:top;
	margin-left:40px;
	width:70%;
}
 
.tall-section{
	height:100%;
	min-height:300px;
}



#map{
	display:none;
	}


#results-section {
	width:90%;
	font-size:0.9em;
	}
	
table{
	table-layout:fixed;
	min-width: 280px;
	
	}	
	
td:nth-child(2){
	word-wrap:normal;
	display: table-row-group;


} 	

}  